In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
sports_data =pd.read_csv("E0.csv")
sports_data.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=106)

In [13]:
sports_data = sports_data[['Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','Referee']]
sports_data = sports_data.rename(columns={'FTHG':'HomeGoals','FTAG':'AwayGoals'})
sports_data["Date"] = pd.to_datetime(sports_data["Date"])
sports_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       380 non-null    datetime64[ns]
 1   Time       380 non-null    object
 2   HomeTeam   380 non-null    object
 3   AwayTeam   380 non-null    object
 4   HomeGoals  380 non-null    int64
 5   AwayGoals  380 non-null    int64
 6   FTR        380 non-null    object
 7   HTHG       380 non-null    int64
 8   HTAG       380 non-null    int64
 9   Referee    380 non-null    object
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 22.3+ KB

In [17]:
# sports_data["Time"]= pd.to_timedelta(sports_data["Time"])

In [14]:
sports_data

,Date,Time,HomeTeam,AwayTeam,HomeGoals,AwayGoals,FTR,HTHG,HTAG,Referee
0,2019-09-08,20:00,Liverpool,Norwich,4,1,H,4,0,M Oliver
1,2019-10-08,12:30,West Ham,Man City,0,5,A,0,1,M Dean
2,2019-10-08,15:00,Bournemouth,Sheffield United,1,1,D,0,0,K Friend
3,2019-10-08,15:00,Burnley,Southampton,3,0,H,0,0,G Scott
4,2019-10-08,15:00,Crystal Palace,Everton,0,0,D,0,0,J Moss
...,...,...,...,...,...,...,...,...,...,...
375,2020-07-26,16:00,Leicester,Man United,0,2,A,0,0,M Atkinson
376,2020-07-26,16:00,Man City,Norwich,5,0,H,2,0,C Pawson
377,2020-07-26,16:00,Newcastle,Liverpool,1,3,A,1,1,A Taylor
378,2020-07-26,16:00,Southampton,Sheffield United,3,1,H,0,1,P Bankes
379,2020-07-26,16:00,West Ham,Aston Villa,1,1,D,0,0,M Oliver

In [18]:
sports_data.describe()

        HomeGoals   AwayGoals        HTHG        HTAG
count  380.000000  380.000000  380.000000  380.000000
mean     1.515789    1.205263    0.700000    0.550000
std      1.248646    1.200252    0.886427    0.758505
min      0.000000    0.000000    0.000000    0.000000
25%      1.000000    0.000000    0.000000    0.000000
50%      1.000000    1.000000    0.000000    0.000000
75%      2.000000    2.000000    1.000000    1.000000
max      8.000000    9.000000    5.000000    5.000000

In [19]:
sports_data.head(7)

,Date,Time,HomeTeam,AwayTeam,HomeGoals,AwayGoals,FTR,HTHG,HTAG,Referee
0,2019-09-08,20:00,Liverpool,Norwich,4,1,H,4,0,M Oliver
1,2019-10-08,12:30,West Ham,Man City,0,5,A,0,1,M Dean
2,2019-10-08,15:00,Bournemouth,Sheffield United,1,1,D,0,0,K Friend
3,2019-10-08,15:00,Burnley,Southampton,3,0,H,0,0,G Scott
4,2019-10-08,15:00,Crystal Palace,Everton,0,0,D,0,0,J Moss
5,2019-10-08,15:00,Watford,Brighton,0,3,A,0,1,C Pawson
6,2019-10-08,17:30,Tottenham,Aston Villa,3,1,H,0,1,C Kavanagh

In [20]:
home_win = sports_data[sports_data['HomeGoals']>sports_data['AwayGoals']]

In [21]:
away_win = sports_data[sports_data['AwayGoals']>sports_data['HomeGoals']]

In [22]:
home_win.describe()

        HomeGoals   AwayGoals        HTHG        HTAG
count  172.000000  172.000000  172.000000  172.000000
mean     2.430233    0.488372    1.104651    0.261628
std      1.129516    0.653272    1.014850    0.466584
min      1.000000    0.000000    0.000000    0.000000
25%      2.000000    0.000000    0.000000    0.000000
50%      2.000000    0.000000    1.000000    0.000000
75%      3.000000    1.000000    2.000000    0.250000
max      8.000000    3.000000    5.000000    2.000000

In [23]:
sports_data.columns

Index(['Date', 'Time', 'HomeTeam', 'AwayTeam', 'HomeGoals', 'AwayGoals', 'FTR',
       'HTHG', 'HTAG', 'Referee'],
      dtype='object')

In [24]:
sports_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       380 non-null    datetime64[ns]
 1   Time       380 non-null    object
 2   HomeTeam   380 non-null    object
 3   AwayTeam   380 non-null    object
 4   HomeGoals  380 non-null    int64
 5   AwayGoals  380 non-null    int64
 6   FTR        380 non-null    object
 7   HTHG       380 non-null    int64
 8   HTAG       380 non-null    int64
 9   Referee    380 non-null    object
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 22.3+ KB

In [25]:
sports_data['Referee']

0        M Oliver
1          M Dean
2        K Friend
3         G Scott
4          J Moss
          ...
375    M Atkinson
376      C Pawson
377      A Taylor
378      P Bankes
379      M Oliver
Name: Referee, Length: 380, dtype: object

In [30]:
liverpool_home_win = sports_data[sports_data.HomeTeam == "Liverpool"][['HomeTeam','HomeGoals','AwayTeam','AwayGoals','Referee']]

In [28]:
liverpool_away_win = sports_data[sports_data.AwayTeam == "Liverpool"][['HomeTeam','HomeGoals','AwayTeam','AwayGoals','Referee']]

In [36]:
Chelsea_home_loss = sports_data[(sports_data.HomeTeam == "Chelsea") & (sports_data.FTR=="A")][['HomeTeam','HomeGoals','AwayTeam','AwayGoals','Referee']]
Chelsea_home_win = sports_data[(sports_data.HomeTeam == "Chelsea") & (sports_data.FTR=="H")][['HomeTeam','HomeGoals','AwayTeam','AwayGoals','Referee']]
Chelsea_home_draw = sports_data[(sports_data.HomeTeam == "Chelsea") & (sports_data.FTR=="D")][['HomeTeam','HomeGoals','AwayTeam','AwayGoals','Referee']]
Chelsea_home_draw

    HomeTeam  HomeGoals          AwayTeam  AwayGoals     Referee
18   Chelsea          1         Leicester          1  O Langford
31   Chelsea          2  Sheffield United          2   S Attwell
234  Chelsea          2           Arsenal          2   S Attwell

In [27]:
sports_data

,Date,Time,HomeTeam,AwayTeam,HomeGoals,AwayGoals,FTR,HTHG,HTAG,Referee
0,2019-09-08,20:00,Liverpool,Norwich,4,1,H,4,0,M Oliver
1,2019-10-08,12:30,West Ham,Man City,0,5,A,0,1,M Dean
2,2019-10-08,15:00,Bournemouth,Sheffield United,1,1,D,0,0,K Friend
3,2019-10-08,15:00,Burnley,Southampton,3,0,H,0,0,G Scott
4,2019-10-08,15:00,Crystal Palace,Everton,0,0,D,0,0,J Moss
...,...,...,...,...,...,...,...,...,...,...
375,2020-07-26,16:00,Leicester,Man United,0,2,A,0,0,M Atkinson
376,2020-07-26,16:00,Man City,Norwich,5,0,H,2,0,C Pawson
377,2020-07-26,16:00,Newcastle,Liverpool,1,3,A,1,1,A Taylor
378,2020-07-26,16:00,Southampton,Sheffield United,3,1,H,0,1,P Bankes
379,2020-07-26,16:00,West Ham,Aston Villa,1,1,D,0,0,M Oliver

In [ ]:
matchweeks = sports_data.groupby()

In [ ]:
[sports_data.HomeTeam == "Liverpool"][sum(sports_data["HomeGoals"])]

In [38]:
liv_home_goals=sum(sports_data[sports_data.HomeTeam == "Liverpool"]["HomeGoals"])
liv_away_goals=sum(sports_data[sports_data.HomeTeam == "Liverpool"]["AwayGoals"])
liv_goals = liv_home_goals+liv_away_goals
liv_goals

68

In [37]:
x = np.linspace(0,100,10)
x.shape
# plt.plot(x,liv_goals)

(10,)

In [35]:
sports_data[sports_data['HomeTeam'] == "Chelsea"]

,Div,Date,Time,HomeTeam,AwayTeam,HomeGoals,AwayGoals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
18,E0,18/08/2019,16:30,Chelsea,Leicester,1,1,D,1,0,...,2.01,-0.75,1.93,1.97,1.96,1.98,2.01,2.06,1.94,1.96
31,E0,31/08/2019,15:00,Chelsea,Sheffield United,2,2,D,2,0,...,2.18,-1.25,2.01,1.92,2.06,1.86,2.11,2.05,1.97,1.92
59,E0,22/09/2019,16:30,Chelsea,Liverpool,1,2,A,0,2,...,2.49,0.25,2.01,1.92,1.96,1.98,2.17,1.98,1.99,1.90
63,E0,28/09/2019,15:00,Chelsea,Brighton,2,0,H,0,0,...,2.29,-1.25,2.03,1.90,2.06,1.87,2.07,2.01,1.99,1.90
83,E0,19/10/2019,15:00,Chelsea,Newcastle,1,0,H,0,0,...,2.54,-1.50,1.83,2.07,1.85,2.08,1.89,2.13,1.83,2.06
111,E0,09/11/2019,12:30,Chelsea,Crystal Palace,2,0,H,0,0,...,2.36,-1.25,2.00,1.93,2.00,1.93,2.02,1.95,1.97,1.92
132,E0,30/11/2019,15:00,Chelsea,West Ham,0,1,A,0,0,...,3.18,-1.75,2.02,1.91,2.01,1.91,2.05,1.97,1.99,1.89
142,E0,04/12/2019,19:30,Chelsea,Aston Villa,2,1,H,1,1,...,3.02,-1.50,1.92,2.01,1.92,2.01,1.97,2.02,1.91,1.98
162,E0,14/12/2019,15:00,Chelsea,Bournemouth,0,1,A,0,0,...,2.83,-2.00,2.07,1.83,2.07,1.85,2.12,1.87,2.06,1.81
182,E0,26/12/2019,15:00,Chelsea,Southampton,0,2,A,0,1,...,2.46,-2.50,3.55,1.27,3.93,1.30,3.95,1.30,3.66,1.28
211,E0,11/01/2020,15:00,Chelsea,Burnley,3,0,H,2,0,...,2.17,-1.50,2.13,1.81,2.11,1.82,2.16,1.97,2.03,1.84
234,E0,21/01/2020,20:15,Chelsea,Arsenal,2,2,D,1,0,...,2.05,-0.75,1.98,1.95,1.97,1.95,2.00,2.07,1.95,1.93
258,E0,17/02/2020,20:00,Chelsea,Man United,0,2,A,0,1,...,1.79,-0.50,2.02,1.91,2.02,1.91,2.05,2.01,1.97,1.89
260,E0,22/02/2020,12:30,Chelsea,Tottenham,2,1,H,1,0,...,1.75,-0.50,1.89,2.04,1.88,2.04,1.91,2.08,1.87,2.01
285,E0,08/03/2020,14:00,Chelsea,Everton,4,0,H,2,0,...,2.13,-0.50,1.85,2.05,1.88,2.04,2.00,2.11,1.86,2.01
309,E0,25/06/2020,20:15,Chelsea,Man City,2,1,H,1,0,...,2.10,0.75,1.77,2.02,1.83,2.12,1.86,2.16,1.82,2.07
324,E0,04/07/2020,20:00,Chelsea,Watford,3,0,H,2,0,...,2.17,-1.25,1.86,2.04,1.87,2.06,1.90,2.08,1.84,2.04
350,E0,14/07/2020,20:15,Chelsea,Norwich,1,0,H,1,0,...,3.17,-2.50,2.04,1.86,2.05,1.85,2.07,1.97,2.01,1.86
372,E0,26/07/2020,16:00,Chelsea,Wolves,2,0,H,2,0,...,1.64,-0.50,1.95,1.95,1.96,1.97,1.98,1.99,1.92,1.95